<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head>
		<div th:replace="common/head :: head"></div>
	</head>
	<!-- Webix Library -->
	<script type="text/javascript" src="//cdn.webix.com/pro/9.0/webix.js?{VERSION}"></script>
	<link rel="stylesheet" type="text/css" href="//cdn.webix.com/pro/9.0/webix.css?{VERSION}">

	<script th:inline="javascript">
		const token = /*[[${_csrf.token}]]*/;
		const parameterName = /*[[${_csrf.parameterName}]]*/;
		//console.log("token:" + token);
	</script>

	<!-- Icons -->
	<link rel="stylesheet" href="https://cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css" crossorigin="anonymous">
	
	<!-- App -->
	<script type="text/javascript" src="/codebase/app.js"></script>
	<link rel="stylesheet" type="text/css" href="/codebase/app.css">
	<script>
		webix.ready(function(){
			if (webix.env.touch)
				webix.ui.fullScreen();
			else if (webix.CustomScroll)
				webix.CustomScroll.init();
		
			const app = new AppDemo({});
			app.render();
		});
	</script>

</head>
<body></body>
</html>