<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="~{common/head :: head}"></div>
    <title>로그 관리</title>
</head>
<body>

<script th:inline="javascript">
    const userInfo = /*[[${#authentication.principal}]]*/;
</script>

<script src="/models/api-wrapper.js"></script>
<script src="/models/logService.js"></script>
<!--<script src="/views/user/logic.js"></script>
<script src="/views/main/app.js" type="module"></script>-->
<script src="/views/main.js" id="mainViewJs" data-name="log" type="module"></script>
</body>
</html>