<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:replace="~{common/head :: head}"></div>
		<title>Login</title>
	</head>
	<body>
<html>
	<div>
		<p th:if="${param.error}">
			Invalid username or password.
		</p>
		<p th:if="${param.logout}">
			You have been logged out.
		</p>
	</div>
</html>

<script type="text/javascript">
webix.ui({
    type:"wide",
    css: "mc_login",
    cols: [
      {},
      {
        rows: [
          {},
          {
            view:"form",
            id:"login_form",
            css: "mc_login_form",
            width:400,
            elements:[
              { view:"label", label:"EMBLOCK", width:400},
              { view:"text", label:"", name:"loginId", id:"loginId", height: 50, placeholder: "계정",required:true,invalidMessage:"계정을 입력해주세요."  },
              { view:"text", type:"password", label:"", id: "password", name:"password", height: 50, placeholder: "비밀번호" ,required:true,invalidMessage:"비밀번호를 입력해주세요." },
              { view:"button", value:"로그인" , height: 50,
                css: "",
                click: function() {
                  loginProcess();
                }
              }
            ]
          },
          {}
        ]
      },
      {}
    ]
});

location.href = '/oauth2/authorization/keycloak'
$$("login_form").elements["loginId"].focus();

webix.UIManager.addHotKey("enter", function(){

	loginProcess();
});

function loginProcess() {
	var form = $$('login_form')
	if (form.validate()) {
		const params = {
			"loginId" : form.elements["loginId"].getValue(),
			"password" : form.elements["password"].getValue(),
		}
		var promise = webix.ajax().headers({
			"Content-Type" : "application/json"
		}).post("/page/login", params);

		promise.then(recvData => {
			const json = recvData.json();

			if(json.status == "00") {
				location.href = "/page/user"
			}
		})
	}
};

</script>

</body>
</html>